{
	"parser": "babel-eslint",
	"parserOptions": {
			"ecmaVersion": 6,
			"sourceType": "module",
			"ecmaFeatures": {
					"jsx": true
			}
	},
	"env": {
		"browser": true,
		"node": true,
		"es6": true
	},
	"extends": [
		"eslint:recommended"
	],
	"rules": {
			"no-console": ["error", { "allow": ["warn", "error"] }],
			"no-multiple-empty-lines": ["error", {"max": 2}],
			"no-prototype-builtins": 0,
			"class-methods-use-this": 0,
			"padded-blocks": 0,
			"no-tabs": 0,
			"no-mixed-spaces-and-tabs": "error",
			"indent": ["error", "tab", { "SwitchCase": 1 }],
			"semi": [2, "never"],

			"import/no-named-as-default": 0,
			"import/extensions": 0,
			"import/prefer-default-export": 0
	}
}
